<% include ./partials/header %>

<div class="form">
    <h1>Login!</h1>
    
    <form action="/login" method="POST">
        <input class="text" type="text" name="username" placeholder="Username">
        <input class="text" type="password" name="password" placeholder="Password"> 
        <button>Login</button>
    </form>
</div>

<% include ./partials/footer %>